<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../alluser.css">
    <link rel="stylesheet" href="../nav.css">

</head>
<body>

    <!-- Nav Bar Common -->
    <div id="nav">
        <a href="/">
        <div id="back">
            <i class="ri-arrow-left-line"></i>
            / Create New User
        </div>
        </a>
        <a href="/delete">
        <div id="download">
                <i class="ri-file-download-fill"></i> 
                Delete User
            </div>
            </a>
            </div>

            <!-- Navbar -->
    <div  id="myList" class="div">
    </div>

  <script src="../alluser.js"></script>
</body>
</html>